.createpost {
  width: 100%;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.createpost form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 30px 0;
}
.createpost form input {
  width: 80%;
  padding: 1vmax 1vmax;
  outline: none;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.414);
  font-size: 15px;
}
.createpost form textarea {
  width: 80%;
  padding: 1vmax 1vmax;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.414);
  resize: none;
}
.createpost form input[type=file] {
  border: none;
  color: transparent;
}
.createpost form input::file-selector-button {
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.24);
  background-color: #000;
  color: #fff;
}
.createpost form .title {
  font-size: 20px;
  font-weight: 700;
}
.createpost form .banner {
  width: 10%;
  padding: none;
  margin: none;
}
.createpost form img {
  width: 40%;
  aspect-ratio: 1/1;
}
.createpost form button {
  padding: 1vmax 2vmax;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.24);
  background-color: rgba(6, 7, 6, 0.968627451);
  color: white;
  margin: 15px 0;
  border-radius: 2px;
  transition: all 300ms;
}
.createpost form button:hover {
  background-color: transparent;
  color: inherit;
}