.footer {
  max-width: 100%;
  padding: 2vmax;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  font-size: 5vmax;
  font-weight: 200;
}
.footer .info {
  text-align: center;
  font-size: 18px;
}