/* navbar */
.header {
  max-width: 100%;
  padding: 1vmax 3vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  font-size: 3vmax;
}
.header .login {
  display: flex;
  align-items: center;
}
.header .login a {
  padding: 0.5vmax 1vmax;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-weight: 600;
  outline: none;
  border: 1px solid transparent;
  transition: all 500ms;
}
.header .login a:hover {
  border: 1px solid rgba(0, 0, 0, 0.153);
}
.header .login img {
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header .logo {
    font-size: 5vmax;
  }
}