.home {
  max-width: 100%;
  padding: 4vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .posts {
  cursor: pointer;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home .posts .post {
  border: 1px solid rgba(168, 167, 167, 0.21);
  border-radius: 10px;
  margin: 1vmax 0;
  padding: 2vmax;
  color: black;
  text-decoration: none;
  width: 80%;
}
.home .posts .post .postInfo {
  display: flex;
  align-items: center;
  padding: 2vmax 1vmax;
}
.home .posts .post .postInfo img {
  height: 40px;
  border-radius: 50%;
}
.home .posts .post .postInfo div {
  padding: 0 1vmax;
}
.home .posts .post .postInfo div p {
  font-weight: 600;
}
.home .posts .post .post-content {
  text-align: justify;
  display: flex;
  align-items: center;
}
.home .posts .post .post-content .content {
  width: 60%;
  padding: 2vmax 1vmax;
}
.home .posts .post .post-content .content .title {
  margin: 20px 0;
  font-weight: 500;
}
.home .posts .post .post-content .content .reading {
  font-size: 20px;
}
.home .posts .post .post-content img {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin: 10px;
}

@media screen and (max-width: 820px) {
  .home .posts {
    width: 90%;
  }
  .home .posts .post {
    width: 90%;
  }
  .home .posts .post .post-content .content {
    width: 100%;
  }
  .home .posts .post .post-content img {
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .home .posts {
    width: 100%;
  }
  .home .posts .post {
    width: 100%;
  }
  .home .posts .post .post-content {
    flex-direction: column;
  }
  .home .posts .post .post-content img {
    width: 100%;
  }
}