.user-posts{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmax;
    div{
        width: 80%;
    }
    .heading{
        text-align: center;
        h1{
            font-size: 4vmax;
        }
        img{
            width: 100%;
        }
        .info {
            padding: 2vmax 0;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 40px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                
            }
            p{
                // font-size: 1.5rem;
                margin: 0 10px;
              &:nth-child(1){
                font-weight: 600;
              }
            }
            
        }
    }
    .post-content{
        padding: 2vmax 0;
        p{
            font-size: 1.2rem;
            text-align: justify;
            word-spacing: 6px;
            line-height: 40px;
        }
    }
    .userInfo{
        padding: 2vmax;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        align-items: center;
        justify-content: center;
        h1{
            margin: 2vmax;
        }
        img{
            background-image: linear-gradient(45deg,rgb(55, 127, 186),rgb(75, 101, 173));
            width: 100px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            transition: all 1s;
        }
        img:hover{
            
            background-image: linear-gradient(135deg,rgb(0, 0, 0),rgb(106, 99, 99));

        }
        .info{
            width: 100%;
            text-align: center;
            h2{
                font-weight: 500;
            }
            span{
                font-weight: 500;
                h3{
                    font-weight: 500;

                }

            }
        }
    }
}


@media screen and (max-width:600px) {
    .user-posts{
        padding: 0;
        .heading{
            h1{
                text-align: justify;
            }
        }
    }
}
@media screen and (max-width:340px) {
    .user-posts{
        padding: 0;
        .heading{
            .info{
                flex-direction: column;
            }
        }
    }
}

